/* Basic */
body {
    user-select: none;
    min-width: 600px;
    min-height: 300px;
    height: 100vh;
    padding: 0;
    margin: 0;
	background-image: url(https://i.pinimg.com/originals/af/2a/9a/af2a9a5a6a7753ff9d544d1732d59415.gif);
    background-size: cover;
}

/* Game Front Page */
/* Overlay */
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(245, 158, 114, 0.5);
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
}
.overlay .caption {
	font-size: 100%;
	color: #eb4a40;
	padding: 0.5rem;
}
.overlay .content {
	background: linear-gradient(white, #fde0c5);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.warning {
	font-weight: bold;
	color: red;
}
#game-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #4c1ae33c;
	animation: rainbow 5s linear infinite;
	font-size: 600%;
	margin: 0.5rem;
	font-family: 'Brush Script MT', cursive;
}
#game-description-instruction {
	margin-top: 1rem;
	padding: 0 5rem 0 5rem;
	color: #cbab1c;
}
#online-user-panel {
	text-align: center;
	margin-top: 1rem;
	color: #9a29d7;
}

/* Sign out */
#sign-out-container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    color: #eb4a40;
    padding: 0.5rem;
}
#signed-in-username {
    margin: 1rem;
}
#signout-btn {
    font-weight: bold;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    background: #f2855d;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding: 0 20px;
    transition: 1s background;
    cursor: pointer;
}

/* Player selection */
#player-selection-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
#player1-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#player2-container {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.player-title {
	font-size: 200%;
	padding-bottom: 1rem;
}
#player1-name {
	font-size: 180%;
}
#player2-name {
	font-size: 180%;
}
.player-join-btn {
	margin: 1rem;
	font-weight: bold;
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
	color: white;
	background: #49df60;
	box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
	padding: 0 20px;
	transition: 1s background;
	cursor: pointer;
}

/* Form related */
.form-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
form {
	display: flex;
	flex-direction: column;
}
form input {
	font-size: 0.8rem;
	background: #eee;
	border: none;
	border-radius: 20px;
	padding: 10px 15px;
	margin-bottom: 0.5rem;
}
form input::placeholder {
	color: gray;
}
form button {
	font-weight: bold;
	height: 40px;
	border: 1px solid black;
	border-radius: 20px;
	color: white;
	background: #f2855d;
	box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
	padding: 0 20px;
	transition: 1s background;
	cursor: pointer;
}
form button:hover {
	background: #f8b58b;
}
form button:active {
	margin: 2px -2px -2px 2px;
	box-shadow: 0px 0px;
}
form button.icon {
	height: inherit;
	border: none;
	border-radius: 2px;
	background: none;
	box-shadow: none;
	padding: 3px 5px;
	padding-top: 5px;
}
form button.icon * {
	color: white;
}
form button.icon:hover {
	background: #f8b58b;
}
form button.icon:active {
	margin: 2px -2px -2px 2px;
}

@keyframes rainbow {
	0% { text-shadow: 0 0 5px red; }
	14% { text-shadow: 0 0 5px orange; }
	28% { text-shadow: 0 0 5px yellow; }
	42% { text-shadow: 0 0 5px green; }
	57% { text-shadow: 0 0 5px blue; }
	71% { text-shadow: 0 0 5px indigo; }
	85% { text-shadow: 0 0 5px violet; }
	100% { text-shadow: 0 0 5px red; }
}

/* Game Play Page Layout */
#game-play-layout {
	font-family: "ＭＳ Ｐゴシック";
	animation: rainbow 5s linear infinite;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
      "game-play-header game-play-header game-play-header" 7%
      "player-ability-panels game-arena game-status-panel" 31%
      "player-ability-panels game-arena game-status-panel" 31%
      "player-ability-panels game-arena game-status-panel" 31%
      / 1fr 70% 1fr;
}
/* Header */
#game-play-header { 
    grid-area: game-play-header; 
    border: 1px solid; 
}
/* Left Panel */
#player-ability-panels { 
    grid-area: player-ability-panels;
    display: flex;
    flex-direction: column;
}
.ability-panel {
    flex: 1;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px 10px 30px 10px;
}
/* Middle Panel */
#game-arena { 
    grid-area: game-arena;
    border: 1px solid; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game-arena-canvas {
    border: solid 1px;
}
/* Right Panel */
#game-status-panel { 
    grid-area: game-status-panel;
    display: flex;
    flex-direction: column;
}
.points-panel {
    flex: 0.275;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
}
.time-panel {
    flex: 0.45;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
