/* Basic */
body {
    min-width: 1080px;
    min-height: 720px;
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Game Play Page Layout */
#game-play-layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid:
      "game-play-header game-play-header game-play-header" 7%
      "player-ability-panels game-arena game-status-panel" 31%
      "player-ability-panels game-arena game-status-panel" 31%
      "player-ability-panels game-arena game-status-panel" 31%
      / 1fr 70% 1fr;
}
/* Header */
#game-play-header { 
    grid-area: game-play-header; 
    border: 1px solid; 
}
/* Left Panel */
#player-ability-panels { 
    grid-area: player-ability-panels;
    display: flex;
    flex-direction: column;
}
.ability-panel {
    flex: 1;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 30px 10px 30px 10px;
}
/* Middle Panel */
#game-arena { 
    grid-area: game-arena;
    border: 1px solid; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #755E56;
}
#game-arena-canvas {
    border: solid 1px;
}
/* Right Panel */
#game-status-panel { 
    grid-area: game-status-panel;
    display: flex;
    flex-direction: column;
}
.points-panel {
    flex: 0.275;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 25px;
}
.time-panel {
    flex: 0.45;
    border: 1px solid; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    
}
#timer {
    flex: 0.45;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1/1;
}

/* game end page styles */

  
  .page3 {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
  }
  
  .content {
    padding: 30px;
    display: flex;
    justify-content: center;
    height: calc(100% - 60px);
    align-items: center;
  }
  
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  
  h2 {
    text-align: center;
  }
  
  .leaderboard-table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    flex-grow: 1;
  }
  
  .leaderboard-table th,
  .leaderboard-table td {
    padding: 10px;
    
    text-align: left;
    border-bottom: 1px solid #000;
  }
  
  .right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
  }
  
  .info-table {
    width: 95%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
  }
  
  .info-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
  }
  
  .restart-button,
  .title-button {
    display: block;
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }
  
  .buttons {
    text-align: center;
  }